<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <title>Have I Been Hacked?</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 20px; } #results
      { margin-top: 20px; }
    </style>
  </head>
  <body>
    <h1>Check if your email has been in a data breach</h1>
    <label for='email'>Enter your email:</label>
    <input type='email' id='email' required />
    <button onclick='checkBreaches()'>Check for Breaches</button>

    <div id='results'></div>
  </body>
  <script type='text/javascript' src='/javascripts/index.js'></script>
</html>